body {
	display: flex;
	flex-wrap: wrap;
	background-color: #FFF;
	background-image: url(image/graph-tile.png);
	text-rendering: optimizeLegibility;
	font-family: "Times New Roman", Times, Cambria, serif;
	font-size: 12px;
	line-height: 22px;
	margin-bottom:50px;
}

body a {
	text-decoration: none;
}


.banner {
	background-color: black;
	position: absolute;
	width: calc(100% - 16px);
	color: white;
	padding: 5px 0;
	text-align: center;
	/*flex-grow: 1;*/
}

.banner p {
	font-family: Helvetica;
	font-size: 13px;
	padding: 4px 12px;
	text-align: center;
	max-width: 600px;
	line-height: 150%;
	margin: 0px auto;
}

.banner p a {
	color: white;
}


#logo {
	display: flex;
	padding: 100px;
	padding-bottom: 60px;
	justify-content: center;
	align-items: center;
}

#logo img {
	object-fit: none;
	object-position: top;
	width: 460px;
	height: 90px;
}

.nav_area {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 60%;
	margin: 0 auto;
}

.nav_area section {
	box-shadow: rgba(153, 153, 153, 0.2) 1px 1px 7px;
	line-height:  18px;
	/* margin: 0px 10px 0px 0px; */
	width: 24%;
	/* height:  275px; */
	/* width: 207px; */
	border: 1px solid;
	border-color: #DDD;
	background-color: rgba(255, 255, 255, .5);
}

header {
	width: 100%;
	text-align: center;
}


.nav_area section p {
	margin:  0px;
	padding-left: 10px;
	padding-right: 10px;
}

.nav_area p a {
	color: #ba1820;
}

.nav_area span a {
	color: #ba1820;
}

.nav_area span a:hover {
	color: #999;
}

.nav_area ul a {
	color: #ba1820;
}

.nav_area ul a:hover {
	color: #999;
}

.strap a {
	display: flex;
	color: #999;
	margin-top: 5px;
	font-style: italic;
	justify-content: center;
	align-items: center;
}

.strap a:hover {
	color: #ba1820;
}

.nav_area p a:hover {
	color: #999;
}

#biography h3 {
	background-image: url(image/n-pig.png);
}


.nav_area section p:first-letter {
	color: #ba1820;
	font-size: 60px;
	float: left;
	vertical-align: top;
	height: 65px;
	line-height: 1;
	padding-right: 5px;
}

#fs {
	color: #ba1820;
	font-size: 60px;
	float: left;
	vertical-align: top;
	line-height: 1;
	padding-right: 5px;
}

.label {
	background-position-x: 10px;
	background-position-y: -40px;
	font-size: 15px;
	padding-top: 8px;
	font-style: normal;
	width: 100%;
	/* height: 20px; */
	margin-top: 5px;
	margin-bottom: 0;
	/* background-position: top; */
	background-repeat: no-repeat;
	text-align:center;
	padding: 0px 0px 105px 0px;
	padding-top: 0;
	font-weight:normal;
	font-style:normal;
	text-transform:uppercase;
	letter-spacing:1px;
	color:#000;
}

#journal h3 {
	background-image: url(image/n-butterfly.png);
	/* background-position-y: -40px; */
}

#journal p {
	text-align: justify;
	padding:  4px;
	/*vertical-align: top; */
}

#journal p:first-letter {
	font-size: 12px;
}




#archive h3 {
	background-image: url(image/n-bigfish.png);
}

#archive nav ul {
	padding-left: 10px;
	list-style-type: none;
	padding-bottom: 1rem;
	float: left;
}

#contact {
	/* width: calc(100% / 4 - 2 * 4px); */
	padding-top: 0;
}

#contact h3 {
	background-image: url(image/n-crab.png);
}

#contact p {
	text-align: justify;
	float: left;
}


.ext-dests {
	margin-top: 35px;
	margin-bottom: 20px;
	padding: 0.6rem;
	background-image: url(image/ext-refs.png);
	/* background-size: 100% 50px; */
	background-repeat: no-repeat;
	background-position: center 0;
}

.nav_content {
	display: flex;
	justify-content: space-between;
	width: 60%;
	margin: 0 auto;
}

.nav_content ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	padding: 0;
	list-style-type: none;
	box-shadow: rgba(153, 153, 153, -0.8) 1px 1px 7px;
	box-sizing:  border-box;
	/* border: 1px solid; */
	/* border-color: #DDD; */
	background-color: rgba(255, 255, 255, 0.5);
	padding-bottom: 0px;
}

.nav_content ul li {
	float:  left;
	width: 24%;
	/* height: 200px; */
	border: 1px solid #DDD;
	/* border-color: #DDD; */
	background-color: rgba(255, 255, 255, .5);
	background-repeat: no-repeat;
	background-position: top;
	box-sizing: border-box;
	margin-bottom: 8px;
	padding:  10px;
	font-size:  13px;
	box-shadow:  1px 1px 7px rgba(153, 153, 153, 0.2);
}

.nav_content h3 {
	text-align: center;
	margin-top: 0;
	margin-bottom:0;
}

#delicious {
	/* padding: 10px; */
	background-image: url(image/n-beetle.png);
}

#instagram {
	padding: 10px;
	background-image: url(image/n-fish2.png);
}

#sayhi {
	padding: 10px;
	background-image: url(image/n-collie.png);
}

#twitter {
	/* width: calc(100% / 4 - 2 * 4px); */
	padding: 10px;
	background-image: url(image/n-salamander.png);
}

#gimmebar {
	background-image: url(image/n-wasp.png);
}

#dribbble {
	background-image: url(image/n-reptile.png);
}

#flickr {
	background-image: url(image/n-flea.png);
}

#naconf {
	/* width: calc(100% / 4 - 2 * 4px); */
	background-image: url(image/n-puffer.png);
}

#rdio {
	background-image: url(image/n-rabbit.png);
}

#facebook {
	background-image: url(image/n-snake.png);
}

#zerply {
	background-image: url(image/n-fishfeet.png);
}

#foursquare {
	/* width: calc(100% / 4 - 2 * 4px); */
	background-image: url(image/n-cormorant.png);
}

#lastfm {
	background-image: url(image/n-fish3.png);
}

#slideshare {
	background-image: url(image/n-lobster.png);
}

#lanyrd {
	background-image: url(image/n-grasshopper.png);
}

#vimeo {
	/* width: calc(100% / 4 - 2 * 4px); */
	background-image: url(image/n-tortoise.png);
}

footer {
	margin-top: 0px;
	padding-top: 115px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	width: 100%;
	background-image: url(image/deranged.png);
	background-repeat: no-repeat;
	background-position: center 35px;
}

footer p {
	font-size:  13px;
	color:  #999;
	text-align: center;
	margin-top: 0px;
	margin: 0px;
	margin-bottom: 0px;
	padding: 0;
	/* padding-bottom: 0px; */
	/* padding-top: 0px; */
}

footer p a {
	color: #beb2b2;
	text-decoration: underline;
}

#copyright {
	padding-top: 50px;
}

@media screen and (max-width:768px) {
		body {width: 100%;}
		.banner {width: 100%;}
    	.nav_area section {width: 47.5%;}
		.nav_content ul li {width: 47.5%;margin-right: 7px;}
		footer {width: 100%;}
    } 

@media screen and (max-width:480px) and (orientation:portrait) {
		body {width: 100%;}
		.banner {width: 100%;}
    	.nav_area section {width: 95%;}
		.nav_content ul li {width: 95%;}
		footer {width: 100%;}
    } 
