body {
	display: flex;
	background-color: #FFF;
	background-image: url(image/graph-tile.png);
	text-rendering: optimizeLegibility;
	font-family: "Times New Roman", Times, Cambria, serif;
	font-size: 12px;
	line-height: 22px;
}

body a {
	text-decoration: none;
}

.banner {
	background-color: black;
	position: fixed;
	width: calc(100% - 16px);
	color: white;
	padding: 5px 0;
	text-align: center;
}

.banner p {
	font-family: Helvetica;
	font-size: 13px;
	padding: 4px 12px;
	text-align: center;
	max-width: 600px;
	line-height: 150%;
	margin: 0px auto;
}

.banner p a {
	color: white;
}

.site_content {
	transition: 	
}

#logo {
	display: flex;
	padding: 100px;
	justify-content: center;
	align-items: center;
}

#logo img {
	object-fit: none;
	object-position: top;
	width: 460px;
	height: 90px;
}

.nav_area {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.nav_area section {
	box-shadow: rgba(153, 153, 153, 0.2) 1px 1px 7px;
	box-sizing:  border-box;
    padding:  10px;
	width: 25%;
	border: 1px solid;
	border-color: #DDD;
	background-color: rgba(255, 255, 255, .5);
}


.nav_area h3 {
	width: 100%;
	height: 50%;
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
}


.nav_area section p {
	padding: 10 0;
	margin-left: auto;
	margin-right: auto;
}

.nav_area p a {
	color: #ba1820;
}

.nav_area span a {
	color: #ba1820;
}

.nav_area span a:hover {
	color: #999;
}

.nav_area ul a {
	color: #ba1820;
}

.nav_area ul a:hover {
	color: #999;
}

.nav_area header a {
	display: flex;
	color: #999;
	margin-top: 2px;
	font-style: italic;
	justify-content: center;
	align-items: center;
}

.nav_area a:hover {
	color: #ba1820;
}

.nav_area p a:hover {
	color: #999;
}

#biography {
	background-image: url(image/n-pig.png);
	background-repeat:no-repeat;
	background-position: top;
}

#biography header {
    width: 100%;
    text-align:  center;
}



#biography p:first-letter {
	color: #ba1820;
	font-size: 65px;	
}

.label {
	font-size: 20px;
	padding-top: 8px;
	font-style: normal;
}

#journal {
	width: 25%;
	padding: 10px;
	background-image: url(image/n-butterfly.png);
	background-repeat: no-repeat;
	background-position: top;
}

#journal header {
	width: 100%;
	text-align: center;
}

#journal p {
	text-align: justify;
}

.music_2014 {
	float: left;
	padding-left: 2rem;
}

.fs {
	padding-bottom: 20px;
	color: #ba1820;
	font-size: 65px;
	float: left;
}

#archive {
	width: 25%;
	padding: 10px;
	background-image: url(image/n-bigfish.png);
	background-repeat:no-repeat;
	background-position: top;
}

#archive ul {
	list-style-type: none;
	padding-bottom: 1rem;
	float: left;
}

#contact {
	width: 25%;
	padding: 10px;
	background-image: url(image/n-crab.png);
	background-repeat:no-repeat;
	background-position: top;
}

#contact p {
	text-align: justify;
	float: left;
}


.opinions {
	float: left;
	padding-left: 10px;
}

.opinions:first-letter {
	color: #ba1820;
	font-size: 65px;		
}
